<div class="how-to-block">
    <h2 class="how-to-title">How to Play the Game</h2>
    <ol class="how-to-steps">
      <li>1. Each round you are given 5 cards with differing mana costs</li>
      <li>2. The objective of the game is to pick cards in the correct order starting from least to most expensive (mana cost)</li>
      <li>3. You can skip a round if you  can not complete it (pressing Spacebar or clicking NEXT),
         but each skip will lower your score by 1 point + the number of total skips</li>
         <li>4. The game ends when the timer reaches 0 seconds</li>
      </ol>
  </div>
  
